@import "./shared/variables.css";
@import "./shared/buttons.css";
@import "./shared/header.css";
@import "./shared/navbar.css";
@import "./shared/sidebar.css";
@import "./shared/avatar.css";
@import "./shared/postcard.css";
@import "./shared/input.css";

/* a {
	text-decoration: none;
	color: black;
} */

body {
	background-color: var(--background-color);
	font-family: var(--default-font-family);
	margin: 0;
	padding: 0;
}

.section {
	padding: 20px 50px 20px 50px;
	display: flex;
	align-items: flex-start;
	gap: 5rem;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.bg-white {
	background-color: white;
	padding: 25px 10px 25px 10px;
	border-radius: 5px;
}

.center-container {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.center-container h1 {
	margin: 0;
	padding: 0;
}

.form {
	width: 90%;
}

.field {
	display: grid;
	gap: 5px;
	width: 100%;
	margin-bottom: 20px;
}

.field input {
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 8px;
	outline: none;
	font-size: 16px;
}

.field p {
	margin: 0;
	padding: 5px 0 5px 0;
	color: var(--danger-color);
}

.search-bar {
	width: 100%;
}

.search-bar input {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	outline: none;
	border: none;
	height: 45px;
	font-size: 16px;
	padding-left: 5px;
}

@media (max-width: 720px) {
	.center-container {
		width: 70%;
	}
}

@media (max-width: 540px) {
	.section {
		gap: 0;
		padding: 20px;
	}
}
