@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lalezar&family=Poppins&family=Roboto&display=swap");

:root {
	--background-color: #eceaea;
	--default-font-family: "Poppins", sans-serif;
	--paragraph-font-family: "Roboto", sans-serif;
	--title-font-family: "Lalezar", cursive;
	--danger-color: #f50057;
}
